node_modules/
.next/
out/
build/
dist/

.env
.env.local
.env.*.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

.DS_Store
*.pem
*.log

.vscode/
.idea/

.direnv/

next-env.d.ts

# Uncomment if you prefer to regenerate the orval client on every build:
# lib/api/

.next**

tsconfig.tsbuildinfo
